@import "parciales/variables";

body {
    font-family: $font-family-main;
    background-color: $beige;
}
    

.bg1 {
    background-color: $beige;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

.overflow-hidden {
    overflow-x: hidden;
}

.nav-hover {
    transition: color 0.3s ease;

    &:hover {
        color: $azul;
        transition: color 0.3s ease;
    }
}

.social-media {
    a {
        font-size: 1.6rem;
        color: $negro;

        &:hover {
            color: $azul;
        }
    }
}

.bgimg {
    img {
        mix-blend-mode: multiply;
    }
}

.letra {
    font-size: 1.2rem;
    font-family: $font-family-secondary;
    font-weight: 500;
    color: $negro;
}

.intro {
    font-family: $font-family-secondary;
    font-size: 2.5rem;
    color: $negro;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5;
    text-align: center;
}

.custom-carousel-img {
    height: 50vh;
    object-fit: cover;
    width: 100%;
}

.custom-card-img {
    height: 50vh;
    object-fit: cover;
    background-color: transparent;
}

.custom-card {
    border: 10px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
}

.text-justify {
    text-align: justify;
}

.small-img {
    max-width: 9vh;
    height: auto;
}

.fixed-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.Lyric {
    font-family: $font-family-secondary;
}
.custom-btn {
    background-color: $terracota; 
    color: #fff; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    &:hover {
        background-color: #c16a50; 
        transition: background-color 0.3s ease;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(209, 122, 95, 0.5);
    }
}