* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 130px;
    background-color: #f0f0ee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 8px;
    background-color: #f0f0ee;
    
}
.grid-contenedor {
    display: grid;
    grid-template-columns: 0.3fr 1fr; 
    grid-template-rows: auto auto;
    gap: 10px;
    grid-template-areas: 
        "logo redes"
        "logo menu";
    align-items: center; /* Centrar el contenido verticalmente */
}

.logoprincipal {
    grid-area: logo;
}
.logoprincipal img{
    object-fit: cover;
    max-width: 100%;
    
}

.logos {
    grid-area: redes;
    display: flex;
    gap: 30px; /* Espacio entre los logos */
    justify-content:flex-end; /* Mueve los logos al final */

}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: flex-end; /* Mueve el menú al final */
}
.menu ul {
    list-style-type: none;
    display: flex;
    gap: 85px;
}

.menu a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    font-size: 20px;
}

.menu a:hover {
    color: #007bff;
}
.intro {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 10px; /* Espacio superior */
    padding: 10px;
  }
  
  .intro h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem; 
    color: #333; /* Color del texto */
    font-weight: 700; /* Hace el texto un poco más grueso */
    letter-spacing: 3px; /* Espaciado entre letras */
    line-height: 1.5; /* Espaciado entre líneas */
  }
  .wallpaper-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas del mismo tamaño */
     /* Espacio entre las imágenes */
    margin-top: 10px; /* Espacio superior entre el título y las imágenes */
    justify-items: center; /* Centra las imágenes horizontalmente dentro de cada celda */
  }
  .wallpaper-grid img {
    width: 100%; /* Las imágenes ocuparán todo el ancho disponible en la columna */
    max-width: 600px; /* Define el tamaño máximo de las imágenes */
    height: 150px; /* Mantiene la proporción original */
    object-fit: cover; /* Asegura que las imágenes llenen el espacio sin deformarse */

     }
     
    .titulo1{
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem; 
    color: #333; 
    font-weight: 700; 
    letter-spacing: 3px; 
    line-height: 1.5; 
    text-align: center;
     }
    
    .grid-principal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; 
        padding: 20px; 
        justify-items: center;
        align-items: start;
    }
    .parrafo{
        text-align: center;
    }
    .parrafo img{
        width: 100%; /* Ancho de la imagen en relación al contenedor */
        max-width: 350px; /* Tamaño máximo de la imagen */
        height: 300px; /* Altura fija para que todas las imágenes sean del mismo tamaño */
        object-fit: cover; /* Asegura que la imagen mantenga su proporción y se recorte si es necesario */
        border-radius: 8px; /* Añadir bordes redondeados opcionales */
        mix-blend-mode: multiply;
        }
    .parrafo p{
        margin-top: 20px; /* Espacio entre la imagen y el párrafo */
        font-size: 1.6rem; /* Tamaño de fuente para los párrafos */
        font-family: 'Poppins', sans-serif;
        color: #060606; 
        font-weight: 700;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Cuatro columnas, una por cada país */
        gap: 20px; /* Espacio entre columnas */
        text-align: center;
        padding: 10px;
    
    }
    .footer-grid img {
        width: 100%;
        max-width: 80px; /* Ancho máximo de las imágenes */
        height: auto;
        object-fit: cover; /* Ajusta la imagen para que mantenga proporción */
    }
    
    /* Estilos para el título del footer */
    .footer-grid h2 {
        grid-column: span 4; /* El título ocupará las 4 columnas */
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #333; 
    }
    
    footer {
        padding: 20px;
        color: #fff; /* Color del texto */
        text-align: center;
    }
    .history-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
        grid-template-rows: auto auto auto auto; /* Cuatro filas automáticas */
        grid-template-areas: 
            "titulo1 titulo1"   /* Primera fila, el título ocupa las dos columnas */
            "parrafo parrafo"   /* Segunda fila, el párrafo ocupa las dos columnas */
            "historia img1"     /* Tercera fila, la historia en columna 1, imagen 1 en columna 2 */
            "historia img2";    /* Cuarta fila, la historia sigue en columna 1, imagen 2 en columna 2 */
        gap: 25px; /* Espacio entre los elementos */
        padding: 20px;
    }
    
    .titulo1 {
        grid-area: titulo1; /* Asignado al área 'titulo1' */
        text-align: center;
    }
    
    .parrafo-q {
        grid-area: parrafo; /* Asignado al área 'parrafo' */
        text-align: center;
        font-size: 30px;
    }
    
    .historia {
        grid-area: historia; /* Asignado al área 'historia' */
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: justify;
    }
    
    .img-historia:nth-child(3) {
        grid-area: img1; /* Asignado al área 'img1' */
        object-fit: cover;
    }
    
    .img-historia:nth-child(4) {
        grid-area: img2; /* Asignado al área 'img2' */
        object-fit: cover;
    }
    
    img {
        width: 100%;
        height: 1 fr;
    }



    .productos-grid {
        display: grid;
        grid-template-areas: 
            "titulo titulo titulo"
            "img1 img2 img3"
            "p1 p2 p3";
        grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
        gap: 20px;                              /* Espacio entre celdas */
        padding: 20px;                          /* Espacio alrededor del contenedor */
    }
    
    .titulo2 {
        grid-area: titulo;                      /* Asignar el área del título principal */
        text-align: center;                     /* Centrar el título */
        margin-bottom: 20px;                    /* Espacio inferior */
    }
    .servicio img {
        width: 100%;                           /* Hacer que la imagen ocupe el 100% de la columna */
        height: 220px;                          /* Mantener la proporción de la imagen */
        object-fit: cover;
        margin-bottom: 10px; 
        mix-blend-mode: multiply; 
    }
    .servicio {
        text-align: center;                     /* Centrar el texto dentro de cada servicio */
    }
    
    .img3 {
        grid-area: img1;                        /* Asignar área para la primera imagen */
    }
    
    .img4 {
        grid-area: img2;                        /* Asignar área para la segunda imagen */
    }
    
    .img5 {
        grid-area: img3;                        /* Asignar área para la tercera imagen */
    }
    
    h2 {
        margin: 10px 0;                         /* Espacio superior e inferior para los encabezados */
        font-size: 1.5em;                       /* Tamaño de letra para el encabezado h2 */
    }
    
    /* Asignación de áreas para los párrafos */
    .servicio:nth-child(1) p {
        grid-area: p1;                          /* Asignar área para el primer párrafo */
    }
    
    .servicio:nth-child(2) p {
        grid-area: p2;                          /* Asignar área para el segundo párrafo */
    }
    
    .servicio:nth-child(3) p {
        grid-area: p3;                          /* Asignar área para el tercer párrafo */
    }

